*.log
*.pot
*.pyc
__pycache__
media
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/dictionaries
celerybeat-schedule
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
